{% extends "base.html" %}

{% block title %}
  {{ content.browser_title }}
{% endblock %}


{% block metadescription %}

{% endblock %}


{% block content %}
<div class="row">

    <div class="col-md-12">
      <!-- <h1>{{ content.browser_title }}<i class="fa fa-envira pull-right"></i></h1> -->
      <h1>
        {{ content.browser_title }}
        <span class="pull-right">
          <img class="palm-tree-alignment" src="/assets/images/palm_tree.png">
        </span>
      </h1>
      <hr>
    </div>

    <div class="col-md-8 col-sm-8">
        <div>

            <form method="post" action="/about/update-about" id="editaboutpage" name="editaboutpage">

                <article id="editableaboutcontent" class="editablecontent" style="width:100%; line-height:1.7em;margin-bottom: 15px;">
                    {{ content.page_content|raw }}
                </article>

                <article class="admin-hidden">
                    <a class="btn btn-primary" href="#" onclick="saveEditedPage()">Save</a>
                    <a class="btn btn-info" href="#!" onclick="turnOffEditing()">Cancel</a>
                    &nbsp;&nbsp;&nbsp;
                    <!-- page_id = 0 is set @getAddPage() in AdminController -->
                  {% if content.id == 0 %}
                    <br><br>
                    <input type="text" name="browser_title" placeholder="Enter browser title (slug)">
                  {% endif %}
                </article>

                <input type="hidden" name="theaboutdata" id="theaboutdata">
                <input type="hidden" name="oldabout" id="oldabout">
                <input type="hidden" name="page_id" value="{{ content.id }}">

            </form>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="services-image-gallery">
            <div class="services-image-animation">
                <img src="/assets/images/page/about/newman_bldg.jpg"  alt="Newmans's Ground Care">
                <span class="text-description">Corporate Headquarters</span>
            </div>
            <div class="services-image-animation">
                <!-- <img src="/assets/images/page/about/hedge_trimming.jpg"  alt="Newmans's Ground Care">
                <span class="text-description">Hedge Trimming</span> -->
            </div>
            <div class="services-image-animation">
                <img src="/assets/images/page/about/jax_map.jpg"  alt="Newmans's Ground Care">
                <span class="text-description">Serving Greater Jacksonville, FL</span>
            </div>
        </div>
    </div>

</div><!-- // .row  -->


<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="services-image-animation">
          <img src="/assets/images/page/about/handshake.jpg"  alt="Newmans's Ground Care">
          <span class="text-description">Building Trust</span>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="services-image-animation">
          <img src="/assets/images/page/about/cross.jpg"  alt="Newmans's Ground Care - Aeration">
          <span class="text-description">Serving Christ (Mk 12:29-31)</span>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="services-image-animation">
          <img src="/assets/images/page/about/us_flag.jpg"  alt="Newmans's Ground Care">
          <span class="text-description">Honoring our Nation (Rom 13:1-7)</span>
        </div>
    </div>

</div><!--  // .row  -->
{% endblock %}

{% block bottomjs %}

  {# include javascript for page editing for logged in user with access rights #}
  {% if session.user == true and session.access_level == 2 %}
    {% include 'admin/admin-about-js.php' %}
  {% endif %}

{% endblock %}
