{% extends "base.html" %}

{% block title %}
  {{ contact.browser_title }}
{% endblock %}

{% block metadescription %}
  Please fill out and submit our Contact Form to reach Newman's Ground Care.
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-12">
        <h1>
          Quote Request
          <span class="pull-right">
            <img class="palm-tree-alignment" src="/assets/images/palm_tree.png">
          </span>
        </h1>
        <hr>
    </div>

    <div class="col-md-8 col-sm-8">

        {% if session.contacterror %}
          {% include 'errormessage.php' %}
        {% endif %}

          <form method="post" action="/contact/update-getquote" id="editgetquotepage" name="editgetquotepage">

              <article id="editablegetquotecontent" class="editablecontent testimonials-title-bg-box" style="font-size:18px;">
                  <p>
                    {{ content.page_content|raw }}
                  </p>
              </article>

              <article class="admin-hidden">
                  <a class="btn btn-primary" href="#" onclick="saveEditedPage()">Save</a>
                  <a class="btn btn-info" href="#!" onclick="turnOffEditing()">Cancel</a>
                  &nbsp;&nbsp;&nbsp;
                  <!-- page_id = 0 is set @getAddPage() in AdminController -->
                {% if content.id == 0 %}
                  <br><br>
                  <input type="text" name="browser_title" placeholder="Enter browser title (slug)">
                {% endif %}
              </article>

              <input type="hidden" name="thegetquotedata" id="thegetquotedata">
              <input type="hidden" name="oldgetquote" id="oldgetquote">
              <input type="hidden" name="page_id" value="{{ content.id }}">

          </form>


          <form name="getquoteform" id="getquoteform" class="form-horizontal" action="/contact/submit-get-quote" method="post" novalidate>
              <input type="hidden" name="honeypot" value="">
              <div class="form-group">
                  <label for="first_name" class="col-sm-2 control-label">First name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control required" name="first_name" id="first_name" placeholder="First name" autofocus>
                  </div>
              </div>

              <div class="form-group">
                  <label for="last_name" class="col-sm-2 control-label">Last name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control required" name="last_name" id="last_name" placeholder="Last name">
                  </div>
              </div>

              <div class="form-group">
                  <label for="telephone" class="col-sm-2 control-label">Telephone</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control required" name="telephone" id="telephone" placeholder="Telephone">
                  </div>
              </div>

              <div class="form-group">
                  <label for="email" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                      <input type="email" class="form-control required email" name="email" id="email" placeholder="user@example.com">
                  </div>
              </div>

              <div class="form-group">
                  <label for="message" class="col-sm-2 control-label">Message</label>
                  <div class="col-sm-10">
                      <textarea class="form-control" name="message" id="message" placeholder="How can we help?"></textarea>
                  </div>
              </div>

              <hr>

              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </div>

          </form>

      </div>
      <div class="col-md-4 col-sm-4">
          <div style="margin-bottom: 128px;">
              <img class="img-responsive" src="/assets/images/page/get-quote/20_years.jpg" alt="Newman's Ground Care - in business over 20 years">
          </div>
      </div>

  </div><!-- // .row  -->
{% endblock %}


{% block bottomjs %}

<script>
$(document).ready(function(){
  $("#getquoteform").validate();
});
</script>

  {# include javascript for page editing for logged in user with access rights #}
  {% if session.user == true and session.access_level == 2 %}
    {% include 'admin/admin-getquote-js.php' %}
  {% endif %}

{% endblock %}
