{% extends 'base.html' %}

{% block title %}
  Register
{% endblock %}

{% block metadescription %}

{% endblock %}


{% block content %}

<div class="row">

    <div class="col-md-12">
        <h1>
          Register
          <span class="pull-right">
            <img class="palm-tree-alignment" src="/assets/images/palm_tree.png">
          </span>
        </h1>
        <hr>
    </div>

    <div class="col-md-8">


        {% if session.registererror %}
          <div class="col-sm-offset-3 col-sm-9">
            {% include 'Error/errormessage.html' %}
          </div>
        {% endif %}

        <!--  Display results from ajax_processing/  -->
        <div id="message"></div>

        {% if success %}
          <div class="alert alert-success alert-padding">{{ success }}</div>
        {% endif %}



        <form name="registerform" id="registerform" class="form-horizontal"
          action="register/register-new-user" method="post" novalidate>

            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">
                  Email
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control required email"
                      name="email" id="email" placeholder="user@example.com"
                      autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="verify_email" class="col-sm-3 control-label">
                  Verify email
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control required" name="verify_email"
                      id="verify_email" placeholder="user@example.com">
                </div>
            </div>

            <div class="form-group">
                <label for="first_name" class="col-sm-3 control-label">
                  First name
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control required" name="first_name"
                      id="first_name" placeholder="First name">
                </div>
            </div>

            <div class="form-group">
                <label for="last_name" class="col-sm-3 control-label">
                  Last name
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control required" name="last_name"
                      id="last_name" placeholder="Last name">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">
                  Password
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control required"
                      name="password" id="password" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label for="verify_password" class="col-sm-3 control-label">
                  Verify password
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" name="verify_password"
                      id="verify_password" placeholder="Verify password">
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button id="registerBtn" type="submit" class="btn btn-primary">
                      Register
                    </button>
                </div>
            </div>

        </form>

    </div>

    <div class="col-md-4">
        <div>
            <img class="img-responsive" src="/assets/images/page/register/newman_bldg.jpg" alt="Newman's Ground Care">
        </div>
    </div>

</div><!-- // .row  -->

{% endblock %}


{% block bottomjs %}

<script>
$(document).ready(function(){

  $("#registrationform").validate();

  /*
  $("#registerform").validate({
      rules: {
          verify_email: {
            required: true,
            email: true,
            equalTo: "#email"
          },
          verify_password:  {
            required: true,
            equalTo: "#password"
          }
      }
      */

      /* - - - - Check if email in db  - - - -  */

    $("#email").blur(function(){
        var email = $( this ).val();
        console.log("email = " + email);

       $.ajax({
            url: "/register/checkIfEmailAvailable",
            type: 'POST',
            data: {
             email: email
            },
            cache: false,
            success: function(data){
               var available = '<div class="col-sm-offset-3 col-sm-9 alert alert-success alert-padding text-center">';
               available += 'Email address is available!';
               available += '</div>';

               var not_available = '<div class="col-sm-offset-3 col-sm-9 alert alert-danger alert-padding text-center">';
               not_available += 'Sorry, email address entered is not available.';
               not_available += '</div>';

               if( data === 'available' ){
                   $("#message").html(available);
               }
               else {
                   $("#message").html(not_available);
               }
            },
            error: function(){
               alert("An error occurred.");
            }
        });
    });


});
</script>

{% endblock %}
