{% extends "base.html" %}

{% block title %}
    Page not found
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-12">
        <h1>
          Error
          <span class="pull-right">
            <img class="palm-tree-alignment" src="/assets/images/palm_tree.png">
          </span>
        </h1>

        <hr>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" id="tumbleweed">
        <h1>Page not found</h1>
        <h3>Looks like nothin&apos; but tumbleweed</h3>
    </div>

</div><!-- // .row  -->
{% endblock %}
